<h1> Listing Users</h1>

<table>
<%= for user <- @users do %>
    <tr>
    <td><%= render "user.html", user: user %></td>
    <td><%= link "View", to: ~p"/users/#{user}" %></td>
    </tr>
 <% end %>
</table>
